.featured {
    margin: 3rem 0px;
    .container {
        .product__list {
            .product__item{
                margin: 0px;
                width: 92% !important;
            }
        }
    }
}